* {
    box-sizing: border-box;
    font-family: 'Oregano', cursive;
    color: #f6f6f6;
}

body {
    margin: 0;
    background-color: #222;
}

.container {
    min-width: 660px;
}

#container-header {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#container-header h1 {
    margin: 0;
    padding-top: 10px;
    font-size: 2em;
}

#container-header span {
    width: 80%;
    height: 1.5px;
    display: block;
    background-color: #f6f6f6;
}

#container-main {
    width: 100%;
    height: 68vh;
    /* border: 1px solid white; */
}

#container-footer {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#container-footer span {
    width: 50%;
    height: 1.5px;
    display: block;
    background-color: #f6f6f6;
}

#container-footer #container-cards {
    width: 60%;
    max-width: 550px;
    display: flex;
    justify-content: space-evenly;
}

#container-footer #container-cards h3 {
    margin: 0;
    padding-bottom: 5px;
}

#container-footer #container-cards div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#container-footer #container-cards div div {
    width: 100px;
    height: 100px;
    background-color: #f6f6f6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
}

#container-footer #container-cards div div:hover {
    transition: all .3s ease;
    transform: scale(102%, 102%);
    border: 1px solid rgb(114, 203, 255);
}

#container-footer #container-cards div div:hover svg {
    height: 52.5px;
    transition: all .3s ease;
}

#container-footer #container-cards div div svg {
    transition: all .3s ease;
    height: 50px;
    transform: rotate(45deg);
}

#container-footer #container-cards #scissors div svg {
    transform: rotate(-45deg);
}

#container-footer span:last-child {
    width: 80% !important;
}